<header class="header">
        <button 
                type="button" 
                class="btn btn-outline-primary" 
                [routerLink]="['/template']" 
                routerLinkActive="router-link-active">Template
        </button>
        <button 
                type="button" 
                class="btn btn-outline-primary" 
                [routerLink]="['/data']" 
                routerLinkActive="router-link-active">Data
        
        </button>
</header>
<div class="container main-container">
    <router-outlet></router-outlet>
</div>